<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DM Driver{% if title %} - {{title}}{% endif %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
    <script src="{{url_for('static', filename='kenku.js')}}"></script>
    <script src="{{url_for('static', filename='api.js')}}"></script>
    <script src="{{url_for('static', filename='autocomplete.js')}}"></script>
    {% block styles %}
    {% endblock %}
</head>
{% set active_page = active_page | default('index') -%}
{% set show_nav = show_nav | default(False) -%}
{% set show_kenku = show_kenku | default(False) -%}

<body>
    {% block nav %}
    {% endblock nav %}
    {% block kenku %}
    {% endblock kenku %}
    {% block backdrop %}
    {% endblock backdrop %}
    <div class="content">
        {% block content %} {% endblock %}
    </div>

    {% block script %}{% endblock %}
</body>

</html>