{% extends 'backdrop.html' %}

{% block styles %}
dialog {
    opacity: 1;
    backdrop-filter: blur(0);
    background-color: rgba(255,255,255,0);

}
dialog article {
    border-radius: 1rem;
}
dialog img {
    width: 100%;
}
.autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
}
.autocomplete {
    position:relative;
}
.autocomplete-items div {
padding: 10px;
cursor: pointer;
background-color: #fff;
border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
/*when hovering an item:*/
background-color: #e9e9e9;
}
.autocomplete-active {
/*when navigating through the items using the arrow keys:*/
background-color: DodgerBlue !important;
color: #ffffff;
}
{% endblock %}

{% block content %}
<dialog open>
  <article>
    <h3>Tag the image: {{image.filename}}</h3>
    <div>
    Click on the image to select a focus point, or click <a>here</a> to cancel.
        <img id="thumbnail" style="object-fit: cover" src="/api/image/{{image.id}}/thumb" />
        <!-- data:image/png;base64, {thumbdata}--> 
    </div>
    <form id="sbmt">
        <div class="autocomplete">
            <input id="searchbar" autocomplete="off" type="search" name="tagname" placeholder="Tag the Image" />
        </div>
    </form>
    <progress value="{{image.id}}" max="1062"></progress>
    <div class="tags">
    </div>
    <footer style="text-align: left;">
      {# <a href="" role="button" class="secondary">Cancel</a> #}
      {% if image.id > 1 %}
      <a href="/manager/{{image.id-1}}" role="button">Previous Image</a>
      {% endif %}
      <a style="float: right;" href="/manager/{{image.id+1}}" role="button">Next Image</a>
    </footer>
  </article>
</dialog>
{% endblock %}

{% block script %}
<script>
const image = document.getElementById('thumbnail');
const tagContainer = document.querySelector('.tags');
const searchbar = document.querySelector('#searchbar');
const form = document.querySelector('#sbmt');

let tagList = [];
let allTags = [];
let prevTags = [];

addTagToImageAndRender = (tagName) => {
    apiApplyTagToImage({{image.id}}, tagName)
    .then((payload) => {
        fetchTagListAndRender({{image.id}});
        searchbar.value="";
        //renderTagsOnScreen();
    })
}

handleClick = (e) => {
    x0 = e.target.x;
    y0 = e.target.y;
    cx = e.clientX;
    cy = e.clientY;
    w = e.target.width;
    h = e.target.height;
    apiSetImageFocalPoint({{image.id}}, (cx-x0)/w, (cy-y0)/h, console.log);    
    console.log(e);
}

fetchTagListAndRender = (image_id) => {
    apiGetTagsOfImage(image_id)
    .then(payload => {
        if (payload) {
            tagList = payload.map(tag => tag.tag);
        } else {
            tagList = []
        }
        renderTagsOnScreen();
    })
}

createTagOnScreen = (tagName) => {
    const newTag = document.createElement("a");
    newTag.setAttribute('role',"button");
    newTag.href = "#";
    newTag.classList.add("tagbutton");
    newTag.dataset.tag = tagName;
    const newSpan = document.createElement('span');
    newSpan.innerHTML = "&#10006;";
    newSpan.dataset.tag = tagName;
    const textNode = document.createTextNode(tagName);
    newTag.appendChild(textNode);
    newTag.appendChild(newSpan);
    newSpan.addEventListener('click', handleRemoveTag)
    tagContainer.appendChild(newTag);
}

renderTagsOnScreen = () => {
    tagList.sort();
    tagContainer.replaceChildren([]);
    tagList.forEach(createTagOnScreen);
}

handleRemoveTag = (e) => {
    e.preventDefault();
    apiRemoveTagFromImage({{image.id}}, e.target.dataset.tag)
    .then(payload => {
        fetchTagListAndRender({{image.id}});
    })
}

handleSubmitEvent = (e) => {
    e.preventDefault();
    const data = new FormData(event.target);
    const tagName = data.get('tagname');

    handleTagEnterPress(tagName);
}

handleTagEnterPress = (tagName) => {
    if (tagName === "") {
        window.location.href = "/manager/{{image.id+1}}"
        return
    } else if (tagName === "prev") {
        prevTags.forEach(addTagToImageAndRender);
        searchbar.value = "";
        return;
    } else {
        addTagToImageAndRender(tagName);
    }
}

apiGetAllTags().then((response) => {
    allTags = [...response];
    autocompleteTag(searchbar, allTags, (tag) => {
        handleTagEnterPress(tag.tag);
    });
})

fetchTagListAndRender({{image.id}});


form.addEventListener('submit', handleSubmitEvent);

document.querySelectorAll('.tagbutton').forEach(button => {
    button.addEventListener('click', handleRemoveTag);
});
image.addEventListener('click', handleClick);

searchbar.focus();

apiGetTagsOfImage({{image.id-1}})
.then(response => {
    prevTags = response.map(tag => tag.tag);
});
        
</script>
{% endblock %}