{% extends 'base.html.j2 '%}
{% set active_page = 'messages' %}

{% block nav %}
{% include 'nav.html.j2' %}
{% endblock nav %}

{% block kenku %}
{% include 'kenku.html.j2' %}
{% endblock kenku %}

{% block content %}
<h1>Messages</h1>
<form id="sbmt">
    <div class="autocomplete">
        <input autocomplete="off" id="searchbar" name="tagname" placeholder="Search for Tags" />
        <div class="messages">
            <div></div>
        </div>
    </div>
</form>
{% endblock content %}

{% block script %}
<script>
    const messages = document.querySelector(".messages")

    // Load the tags from the server

    updateMessages = () => {
        apiGetAllSessions().then(sessions => {
            console.log(sessions);
            sessions.forEach(putSessionInGallery);
        });
    }

    putSessionInGallery = (session) => {
        imdiv = document.createElement('article')
        imdiv.classList.add('gallery-element');
        header = document.createElement('header')
        header.innerHTML = session.title;
        imdiv.appendChild(header);
        image = document.createElement('img')
        image.src = `/api/image/${session.image_id}/thumb`
        imdiv.appendChild(image)
        footer = document.createElement('footer')

        imdiv.appendChild(footer);
        gallery.appendChild(imdiv)
    }
    updateSessions();
</script>
{% endblock script %}