{% extends 'base.html.j2 '%}
{% set active_page = 'messages' %}

{% block nav %}
{% include 'nav.html.j2' %}
{% endblock nav %}

{% block kenku %}
{% include 'kenku.html.j2' %}
{% endblock kenku %}

{% block content %}
<h1>Messages</h1>
<form id="sbmt">
    <div class="autocomplete">
        <input autocomplete="off" id="searchbar" name="tagname" placeholder="Filter Messages" />
        <figure>
            <table class="messages">
            </table>
        </figure>
    </div>
</form>
{% endblock content %}

{% block script %}
<script>
    const messages = document.querySelector(".messages")

    // Load the messages from the server

    updateMessages = () => {
        apiGetAllMessages().then(messages => {
            messages.forEach(putMessageInList);
        })
    }

    putMessageInList = (message) => {
        mrow = document.createElement('tr')
        mrow.innerHTML = `<td>${message.message_id}</td><td>${message.message}</td>`

        messages.appendChild(mrow);
    }

    updateMessages();

</script>
{% endblock script %}