<nav class="container-fluid">
    <ul>
        <li></li>
        <li>{{title|default("DM Driver")}}</li>
    </ul>
    <ul>
        {% for item in ['manager','gallery','messages','sessions'] %}
        <li>
            <a {% if active_page !=item %}class="secondary" {% endif %} href="/{{item}}">{{item|capitalize}}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
<hr>