<nav class="container-fluid">
    <ul>
        <li></li>
        <li>{{title|default("DM Driver")}}</li>
    </ul>
    <ul>
        <li>
            <a {% if active_page !='manager' %}class="secondary" {% endif %} href="/manager/1">Manager</a>
        </li>
        <li>
            <a {% if active_page !='gallery' %}class="secondary" {% endif %} href="/gallery">Gallery</a>
        </li>
    </ul>
</nav>
<hr>